.card {
    width: 5rem;
    max-width: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
}
.h3{
    color: #74706b;
}

.p{
    color: #494946;
}