.hero {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: url('/hero.jpg');
	background-size: cover;
	background-position: center;
}
.content {
	width: 35%;
	margin-left: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 2rem;
    
}

.h1 {
	color: var(--accent);
	font-size: 5rem;
	font-weight: 600;
}

.h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-style: italic;
    color: var(--font3);
    font-weight: 500;
}



.italic {
    font-style: italic;
    color: var(--font3);
    font-size: 1.2rem;
}

@media  (max-width:705px) {
    .hero {
        background-position: none;
    }
    .content{
        width: 70%;
        
    }
    .h1{
        font-size: 4rem;
    }
    .h3{
        font-size: 1.2rem;
    }
    .italic {
        font-style: italic;
        color: var(--font3);
        font-size: 1.1rem;
    }
    
}


