@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

:root {
	--nav-dark: #e5e1da;
	--bg-light: #dad6cf;
	--bg-darker: #807970;
	--bg-dark: #4a4a49;
	--accent: #edb47c;
	--hover: #c7ae93;
	--font1: #7c6c64;
	--font2: #54514e;
	--font3: #54504d;
	--fe: #fefefd;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	font-weight: 500;
	color: var(--font2);
	text-decoration: none;
	/* float: none;
	margin: 100px; */
}
a:hover {
	color: var(--hover);
}

body {
	font-family: Roboto, sans-serif;
}

.active {
	color: var(--hover);
}
.nav {
	height: 5rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.logo {
	padding-left: 1rem;
	width: 1rem;
	height: 1rem;
}
.nav-links {
	display: flex;
	gap: 1rem;
	justify-content: center;
}

input {
	padding: 0.5rem;
	border-radius: 8px;
	border: 1px solid var(--accent);
}
.form-container {
	padding-right: 1rem;
}

footer {
	text-align: center;
	background-color: var(--bg-darker);
	color: var(--accent);
	padding: 1rem;
}
